{% extends "two-row.html" %}
{% block header %}
	<link rel="stylesheet" href="{{STATIC_URL}}css/_user.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/_tweetform.css" type="text/css"/>
{% endblock%}
{% block left %}
	<div id='tweetform'>
		<form method='post' action='/showJB/'>{% csrf_token %}
			<div>
				{{ form.tweet }}
			</div>
			<label for="id_message" class='fl'>&nbsp;Anything wanna say today?</label>
			<input type='submit' value='Post' class='btn-post fr'>
		</form>
	</div>
    <div id = 'tweets'>
        {% for tweet in tweet_set %}
            <div class = 'single_tweet'>
                {{tweet.content}}</br>From {{tweet.user.username}}
                {{tweet.time_posted}}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block right %}
	{% include "user/_user_section.html" with showuser=user %}
{% endblock%}
