{% extends "frame.html" %}
{% block header %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/welcome.css" type="text/css"/>
{% endblock%}
{% block content %}
<div id="welcome">
	<div id="welcome-login">
		<div id="login">
			<form method='post' action='/login/' id="loginform">{% csrf_token %}
				{{ form.as_p }}
				<div id="buttons">
					<input type="submit" value="Log In" class="btn-login">
					<a href='/signup/' id="signupbutton">Sign Up</a>
					<!--
					<button id="loginbutton">login</button>
					<button id="signupbutton">signup</button>
					<script type="text/javascript">
						$("loginbutton").onClick = function() {
							$("loginform").submit();
						}
					</script>
					-->
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}