<div class='tweet_cube oh'>
	<img src='http://tp4.sinaimg.cn/2668684791/50/5626936701/1' class='figure-small tweet_picbox fl' />
	<div class="oh">
		<span><a href="/user/{{tweet.user.id}}/">{{tweet.user.username}}</a> :</span><span class="fs13"> {{tweet.content}}</span>
		<div class='comments'>
			{% for comment in tweet.comment_set.all %}
			<div class='comment'>
				{{comment.user.username}} : {{comment.content}}
			</div>
			{% endfor %}
			<div class='newcomment'>
				<form action='/makeLove/' method="post">{% csrf_token %}
					<input type='text' name="content">
					<input type='hidden' name='tweetid' value='{{tweet.id}}'>
					<input type='submit' value="Comment">
				</form>
			</div>
		</div>
	</div>
</div>