@import "constants.less";

.tweet_cube{
	text-align: left;
	padding:10px;
	border-bottom: 1px solid #c0c0c0;
	margin-top: 30px;
	padding-bottom: 30px;
}

.tweet-cube-img{
	display: inline-block;
	margin-right: 10px;
	img{
		width: @icon-size-big;
		height: @icon-size-big;
	}
}

.tweet-cube-contents{
	display: inline-block;
	vertical-align: top;
	padding: 2px 10px 2px 10px;
	font-size:14px;
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	min-height: @icon-size - 4px;
	width: @main-width - @icon-size - 78px;
}

.tweet-cube-extras{
	text-align: right;
	margin-top: 4px;
	margin-bottom: 4px;
}

.tweet-cube-comments{
	display:none;
	margin-left: @icon-size + 20px;
	.comment
	{
		padding-left: 10px;
		margin-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #d1d1d1;
		.figure_small
		{
			vertical-align: top;
		}
		span
		{
			display: inline-block;
			margin-left: 10px;
		}
		.btn-extras
		{
			float: right;
		}
	}
	.tweet-cube-newcomment{
		input[type='submit']
		{
			margin-top: 3px;
		}
		input[name='content']
		{
			width: 410px;
		}
	}
}

/* Tweet Form for post new Tweets */
#tweetform {
	border: 1px solid #c0c0c0;
	overflow:hidden;
	padding:10px 4px 5px 4px;
	color:#8083A8;
	textarea{
		rows:3;
	}
	label {
		margin-left:13px;
	}
}

.btn-extras{
	.button_base;
	background: #A0A3C8;
	border: 1px solid #8083A8;
	font-size: 12px;
	height: 20px;
	padding: 0px 4px;
	&:hover{
		background: #B0B3D8;
		text-decoration:none;
	}
}