/* Tweet Cube for show Tweets */

.tweet_cube{
	margin: 10px;
	text-align: left;
	padding:10px;
	border: 1px solid #c0c0c0;
}

.tweet-cube-img{
	padding:5px;
	margin-right:10px;
}

.tweet-cube-contents a{
	font-size:16px;
}

.tweet-cube-content{
	margin:6px;
	background:#d0d0d0;
	padding:4px;
	font-size:14px;
}

.tweet-cube-extras{
	background:#f0f0f0;
	padding:6px 0px 6px 6px;
}

.tweet-cube-comments{
	display:none;
	background:#f0f0f0;
	padding:6px 0px 4px 6px;
}

.tweet-cube-newcomment{
	background:#f0f0f0;
	padding:6px 0px 4px 6px;
}

/* Tweet Form for post new Tweets */
#tweetform {
	overflow:hidden;
	padding:10px 4px 5px 4px;
	background-color:#D0D3F8;
	color:#8083A8
}

#tweetform textarea{
	rows:3;
}

#tweetform label {
	margin-left:13px;
}
