/* tweet */

.tweet_cube{
	width: 100%;
	margin: auto 5px auto 10px;
	text-align: left;
	border-bottom: 1px solid #c0c0c0;
}

.tweet_picbox{
	vertical-align: text-top;
}

.tweet{
	background-color:#eee;
	border-bottom:1px solid #ccc;
	margin-bottom:10px;
	text-align:left;
}

.tweet span{
	margin:10px;
}

/* tweetform */
#tweetform {
	overflow:hidden;
	width:515px;
	padding:10px 4px 5px 4px;
	background-color:#D0D3F8;
	color:#8083A8
}

#tweetform textarea{
	rows:3;
}

#tweetform label {
	margin-left:8px;
}

.btn-post{
	background: #A0A3C8;
	border: 1px solid #8083A8;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	color:#ffffff;
	padding: 3px 12px;
	min-width:80px;
	margin-right:11px;
}

.btn-post:hover{
	background: #B0B3D8;
	cursor:pointer;
}