.button_base{font-size:14px;font-weight:bold;color:#ffffff;padding:3px 12px;min-width:80px;}.button_base:hover{cursor:pointer;}
.button1{font-size:14px;font-weight:bold;color:#ffffff;padding:3px 12px;min-width:80px;background:#A0A3C8;border:1px solid #8083A8;}.button1:hover{cursor:pointer;}
.button1:hover{background:#B0B3D8;}
.button2{font-size:14px;font-weight:bold;color:#ffffff;padding:3px 12px;min-width:80px;background:#9FA156;border:1px solid #828641;}.button2:hover{cursor:pointer;}
.button2:hover{background:#CFA156;}
.spander{clear:both;}
.figure_small{width:32px;height:32px;}
