/* tweet */

.figure-small{
	width: 50px;
	height: 50px;
	margin: 5px 10px 5px 10px;
	border: 1px solid white;
	-webkit-box-shadow:0px 0px 2px black;
	-moz-box-shadow:0px 0px 2px black;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=black,direction=0,strength=2);
	box-shadow:0px 0px 2px black;
}

.tweet_cube{
	width: 100%;
	margin: auto 5px auto 10px;
	text-align: left;
	border-bottom: 1px solid #c0c0c0;
}

.tweet_picbox{
	vertical-align: text-top;
}

.tweet{
	background-color:#eee;
	border-bottom:1px solid #ccc;
	margin-bottom:10px;
	text-align:left;
}

.tweet span{
	margin:10px;
}

/* tweetform */
#tweetform {
	overflow:hidden;
	width:498px;
}

#tweetform textarea{
	rows:3;
}
