<!DOCTYPE html>
<html>
<head>
    <title> -- YuePao -- </title>
    <link rel="stylesheet" href="{{STATIC_URL}}css/common.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/jquery-ui.css" />
	<script src="{{STATIC_URL}}js/jquery-1.8.2.js"></script>
	<script src="{{STATIC_URL}}js/jquery-ui.js"></script>
	{% block header%}{% endblock%}
</head>
<body>
	<div id="header">
		<div class="center">
			<a href="/" id="logo">YuePao</a>
			<div id="header-nav">
				<ul id="nav">
					<li><a href="/">Home</a></li>
					<li><a href="/user/">Users</a></li>
					{% if user.is_authenticated %}
			    		<li><a href="/settings/">Settings</a></li>
                        {% if user.userprofile.as_receiver_notification_set != None and user.userprofile.as_receiver_notification_set.count != 0 %}
                            <li><a href="/notifications/">Note({{user.userprofile.as_receiver_notification_set.count}})</a></li>
                        {% endif %}
                        <li><a href="/logout/">Log Out</a></li>
					{% else %}
					    <li><a href="/login/">Log In</a></li>
					    <li><a href="/signup/">Sign Up</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
	<div id="footer" class="center">
		<div id="footer-left" class="fl">YuePao on <a href='https://github.com/subrays/YuePao'>Github</a></div>
		<div id="footer-right" class="fr">Hey Jude, don't make it bad.</div>
	</div>
</body>

<script type="text/javascript">

function CleanWhiteDomNodes(element)
{
	for(var i=0; i<element.childNodes.length; i++)   
    {   
        var node = element.childNodes[i];   
        if(node.nodeType == 3 && !/\S/.test(node.nodeValue))   
        {   
            node.parentNode.removeChild(node);   
        }
		if(node.nodeType != 3)
		{
			CleanWhiteDomNodes(node);
		}
    } 
}

var m_UserSection = document.getElementById("user-section-head");
if(m_UserSection != null)
{
	CleanWhiteDomNodes(m_UserSection);
}

var m_Content = document.getElementById("content");
if(m_Content)
{
	CleanWhiteDomNodes(m_Content);
}
		
</script>

</html>
