<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} -- 约炮网, 专注约炮50年</title>
    <link rel="stylesheet" href="static/css/common.css" type="text/css"/>
</head>
<body>
	<div id="header">
		<div id="header-wrapper">
			<a href="/" id="logo">YuePao</a>
			<div id="header-nav">
				<ul id="nav">
					{% for k,v in nav.items %}
						<li><a href="{{v}}">{{k}}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
	<div id="footer">
		<div id="footer-left"></div>
		<div id="footer-right"></div>
	</div>
</body>
</html>