<!DOCTYPE html>
<html>
<head>
    <title>{{ user.name }} -- 约炮网, 专注约炮50年</title>
    <link rel="stylesheet" href="/static/css/common.css" type="text/css"/>
</head>
<body>
	<div id="header">
		<div id="header-wrapper">
			<a href="/" id="logo">YuePao</a>
			<div id="header-nav">
				<ul id="nav">
					<li><a href="/">Home</a></li>
					<li><a href="/user/">Users</a></li>
					{% if user %}
						<li><a href="/user/{{ user.id }}/">Settings</a></li>
						<li><a href="/logout/">Log Out</a></li>
					{% else %}
						<li><a href="/login/">Log In</a></li>
						<li><a href="/signup/">Sign Up</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
	<div id="footer">
		<div id="footer-left"></div>
		<div id="footer-right"></div>
	</div>
</body>
</html>