<div id='user-section'>
	<div id='user-section-head'>
		<div id='user-section-img'>
            <img src='/user/{{showuser.id}}/icon'/>
			{% if showuser != user %}
				{% if follow == None %}
				<a href='/follow/{{showuser.id}}/' class='btn-follow'>follow</a>
				{% else %}
				<a href='/unfollow/{{showuser.id}}/' class='btn-follow'>unfollow</a>
				{% endif %}
			{% endif %}
		</div>
		<div id='user-section-name'>
			<a href='/user/{{showuser.id}}'>{{showuser.username}}</a>
		</div>
	</div>
	<ul class='user-extra'>
		<li><a href='/user/{{user.id}}/followed/'>{{ showuser.userprofile.as_diaos_set.all|length }} Following</a></li>
		<li><a href='/user/{{user.id}}/fans/'>{{ showuser.userprofile.as_goddess_set.all|length }} Followers</a></li>
		<li><a href='/user/{{user.id}}/'>{{ showuser.userprofile.tweet_set.all|length }} Tweets</a></li>
	</ul>
</div>
