{% extends "two-row.html" %}
{% block header%}
	<link rel="stylesheet" href="{{STATIC_URL}}css/_tweetform.css" type="text/css"/>
	<script src="{{STATIC_URL}}js/misc.js"></script>
{% endblock%}

{% block right %}
	{% include "user/_user_section.html" %}
{% endblock%}

{% block left%}
	<div id='tweets' class='oh'>
		{% if tweets%}
			{% for tweet in tweets %}
			{% include "tweet/_tweet.html" %}
			{% endfor %}
		{% else %}
			Ooooops, no Tweets from this user.
		{% endif %}
	</div>
{% endblock %}
